
@model IEnumerable<string>


<h2>:תוצאות החיפוש</h2>



@foreach (var i in Model)
{
    <p>
        @i <br />
    </p>
}

@using (Html.BeginForm()) 
{
    <div>
        <p>
            <input type="submit" value="חזרה לדף החיפוש" />
        </p>
    </div>
}