@model MvcApplication4.Models.SearchModel

@{
    ViewBag.Title = "תוצאות החיפוש";
}

<h2>:תוצאות החיפוש</h2>
<table border="1">
<tr>
<th>מספר להתקשרות</th>
<th>שם</th>
</tr>
<tr>
<td>050-5050505</td>
<td>נטע</td>
</tr>
<tr>
<td>052-1234567</td>
<td>דבורה</td>
</tr>
</table>
