@{
    ViewBag.Title = "אודותינו";
}

<h2>אודות</h2>
<p>
    אתר זה מיועד לתיווך בין חרשים ולקויי שמיעה למתורגמנים.
   כאן יוכלו חרשים ולקויי שמיעה רשומים למצוא מתורגמנים ללא תלות בגורם שלישי ע"י חיפוש פשוט
</p>
